/**
* Viewports
*/
$xs-width: 768px;
$sm-width: 979px;
$md-width: 1200px;

$xs-width-plus: 769px;
$sm-width-plus: 980px;
$md-width-plus: 1201px;

/**
* Typography
*/ 
$font-size: 1.6rem;
$font-regular: 'Quicksand', sans-serif;
