<main>
  <section class="home-view">
    <p-card class="p-card-custom">
      <p-progressBar *ngIf="isLoading" mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>

      <ng-template pTemplate="title">
        <span>Stock Prices</span>
        <div>
          <p-menu #menu [model]="menuItems" [popup]="true"></p-menu>
          <button
            pButton
            type="button"
            styleClass="p-button-text"
            (click)="menu.toggle($event)"
            icon="bi bi-three-dots-vertical"
            label="More"
          ></button>
        </div>
      </ng-template>
      <p-table
        [value]="tableData"
        [tableStyle]="{ 'min-width': '50rem' }"
        (sortFunction)="customSort($event)"
        [customSort]="true"
        [paginator]="true"
        [rows]="rows"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pSortableColumn="companyName">Company Name<p-sortIcon field="companyName"></p-sortIcon></th>
            <th pSortableColumn="tickerSymbol">Ticker Symbol<p-sortIcon field="tickerSymbol"></p-sortIcon></th>
            <th pSortableColumn="currentPrice">Current Price<p-sortIcon field="currentPrice"></p-sortIcon></th>
            <th pSortableColumn="changePercent">
              Change (in Percentage)<p-sortIcon field="changePercent"></p-sortIcon>
            </th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-stock let-columns="columns">
          <tr>
            <td>{{ stock.companyName }}</td>
            <td>{{ stock.tickerSymbol }}</td>
            <td>{{ stock.currentPrice | currency : 'USD' }}</td>
            <td>{{ stock.changePercent }}</td>
            <td>
              <p-button icon="bi bi-x-lg" styleClass="p-button-rounded p-button-success"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </section>
</main>
<p-dialog
  header="Search Company"
  [(visible)]="isVisibleDialog"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <form [formGroup]="formGroup" class="form-custom">
    <p-autoComplete
      appendTo="body"
      formControlName="selected"
      [suggestions]="filteredSecurities"
      (completeMethod)="filterSecurities($event)"
      field="longname"
    ></p-autoComplete>
    <p-button label="Add to List" type="submit" (click)="addToList()"></p-button>
  </form>
</p-dialog>
